<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_API_DoAn</title>
    <link rel="stylesheet" href="~/MVC_API_DoAn.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/API_DoAn/assets/web/~/API_DoAn/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/web/~/API_DoAn/assets/mobirise-icons-bold/mobirise-icons-bold.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/parallax/jarallax.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="shortcut icon" href="~/API_DoAn/~/API_DoAn/assets/images/coffee-icon-sign-symbol-design-free-png.webp" type="image/x-icon">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="~/API_DoAn/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/API_DoAn/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>

            @RenderBody()
    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
